{% extends 'base.html.twig' %}
{% block body %}
    <script type="text/javascript" src="{{ asset('/js/partners.js')}}" ></script>
    <section id="main">
        {% include 'sub-navbar-ka2.html.twig' with {'active': 'partners'} %}
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="page-header">
                    <h1>{% trans %}Edit Partner{% endtrans %}</h1>
                </div>
                <div class="row">
                    <div class="controls resources">
                        <a href="{{ localizedPath('monitoring_edit', {projectId: projectId}) }}"><button>Back</button></a>
                        {{ form_start(my_form) }}

                        <!--<div class="col-sm-6">-->
                        <div class="form-group">
                            <div class="col-xs-12">
                                {{ form_label(my_form.partners, 'Partners'|trans, {'label_attr': {'class': 'control-label col-xs-12'}}) }}
                                <ul class="partners" data-prototype="{{ include('/partners/includes/partners.html.twig',
                                {'my_form': my_form.partners.vars.prototype })|e }}">
                                </ul>
                            </div>

                            <div class="col-xs-12">
                                {{ form_label(my_form.participants, 'Participants'|trans, {'label_attr': {'class': 'control-label col-xs-12'}}) }}
                                <ul class="participants" data-prototype="{{ include('/partners/includes/participants.html.twig',
                                {'my_form': my_form.participants.vars.prototype })|e }}">
                                </ul>
                            </div>

                            <div class="form-inline">
                                {{ form_widget(my_form.submit, { 'label': 'Next'|trans}, {'attr': {'class': 'form-control'}})  }}
                            </div>

                        {{ form_end(my_form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}