{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript" src="{{ asset('/js/pic_numbers.js')}}" ></script>
    <script type="text/javascript" src="{{ asset('/js/institution_contacts.js')}}" ></script>
    <script type="text/javascript" src="{{ asset('/js/addresses.js')}}" ></script>
    <script type="text/javascript" src="{{ asset('/js/accreditations.js')}}" ></script>
    <script type="text/javascript" src="{{ asset('/js/legalRepresentatives.js')}}" ></script>
    <script type="text/javascript" src="{{ asset('/js/notes.js')}}" ></script>
    <script type="text/javascript" src="{{ asset('/js/riskLevel.js')}}" ></script>
    <section id="main">
        {{ form(form) }}
    </section>
{% endblock %}
