{% extends 'base.html.twig' %}

{% block body %}
    <section id="main">
        <div class="container-fluid">
            <div class="page-header">
                <h1>{% trans %}Add Institution{% endtrans %}</h1>
            </div>


            <div class="row">
                {{ form_start(my_form) }}

                <div class="col-sm-6">
                    <div class="form-group">
                        {{ form_label(my_form.nameEn, 'Organization Name English'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                        <div class="form-inline">
                            {{ form_widget(my_form.nameEn, {'attr': {'class': 'form-control'}})  }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(my_form.nameSr, 'Organization Name Serbian'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                        <div class="form-inline">
                            {{ form_widget(my_form.nameSr, {'attr': {'class': 'form-control'}})  }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(my_form.nameOriginalLetter, 'Organization Name Original Alphabet'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                        <div class="form-inline">
                            {{ form_widget(my_form.nameOriginalLetter, {'attr': {'class': 'form-control'}})  }}
                        </div>
                    </div>
                </div>


                <div class="col-sm-6">
                    <div class="form-group">
                        {{ form_label(my_form.nationalRegistrationNumber, 'National Registration Nr'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                        <div class="form-inline">
                            {{ form_widget(my_form.nationalRegistrationNumber, {'attr': {'class': 'form-control'}})  }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(my_form.vatNumber, 'VAT/Tax Nr'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                        <div class="form-inline">
                            {{ form_widget(my_form.vatNumber, {'attr': {'class': 'form-control'}})  }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 form-group">
                    {{ form_label(my_form.acronym, 'Acronym'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                    <div class="form-inline">
                        {{ form_widget(my_form.acronym, {'attr': {'class': 'form-control'}})  }}
                    </div>
                </div>

                <div class="col-sm-6 form-group">
                    {{ form_label(my_form.webSite, 'Website'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                    <div class="form-inline">
                        {{ form_widget(my_form.webSite, {'attr': {'class': 'form-control'}})  }}
                    </div>
                </div>
            </div>

            {{ form_end(my_form) }}
        </div>
    </section>
{% endblock %}
