{% extends 'base.html.twig' %}

{% block body %}
    <section id="main">


    {% if keyAction == 'ka1' %}
        {% include 'sub-navbar.html.twig' with {'active': 'results'} %}
    {% endif %}
    {%  if keyAction == 'ka2' %}
        {% include 'sub-navbar-ka2.html.twig' with {'active': 'results'} %}
    {% endif %}

    <div class="container-fluid">
        <div class="row">
            <div class="controls results">
                <a href="{{ localizedPath('intelectual_output_edit', {projectId: projectId}) }}"><button>Back</button></a>
                <div class="col-xs-12">
                    {{ form_start(my_form) }}
                        <div class="col-xs-12">
                            <h2>{% trans %}Add Result{% endtrans %}</h2>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="col-xs-2">
                                    {{ form_label(my_form.resultType, 'Result type'|trans, {'label_attr': {'class': 'control-label'}}) }}
                                    <div class="form">
                                        {{ form_widget(my_form.resultType, {'attr': {'class': 'form-control'}})  }}
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    {{ form_label(my_form.resultStatus, 'Status'|trans, {'label_attr': {'class': 'control-label'}}) }}
                                    <div class="form">
                                        {{ form_widget(my_form.resultStatus, {'attr': {'class': 'form-control'}})  }}
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    {{ form_label(my_form.isPublic, 'Public?'|trans, {'label_attr': {'class': 'control-label'}}) }}
                                    <div class="form">
                                        {{ form_widget(my_form.isPublic) }}
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    {{ form_label(my_form.showDescription, 'Show description?'|trans, {'label_attr': {'class': 'control-label'}}) }}
                                    <div class="form">
                                        {{ form_widget(my_form.showDescription) }}
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-12">
                                {% include 'results/includes/results-details.html.twig' with {'form': my_form} %}
                            </div>
                        </div>

                        <div class="col-xs-12">
                            {{ form_end(my_form) }}
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}