<div class="col-xs-3">
    {{ form_label(form.resourceType, 'Resource type'|trans, {'label_attr': {'class': 'control-label'}}) }}
    <div class="form">
        {{ form_widget(form.resourceType, {'attr': {'class': 'form-control'}})  }}
    </div>
</div>
<div class="col-xs-6">
    {{ form_label(form.keywords, 'Keywords'|trans, {'label_attr': {'class': 'control-label'}}) }}
    <div class="form">
        {{ form_widget(form.keywords, {'attr': {'class': 'form-control'}})  }}
    </div>
</div>

<div class="col-xs-12 text-right">
    {{ form_label(form.isPublic, 'Public'|trans, {'label_attr': {'class': 'control-label'}} ) }}
    <div class="">
        {{ form_widget(form.isPublic)  }}
    </div>
</div>
<div class="col-xs-6">
    <h3>English</h3>
    <div class="col-xs-12 no-padding">
        {{ form_label(form.titleEn, 'Resource title'|trans, {'label_attr': {'class': 'control-label'}}) }}
        <div class="form">
            {{ form_widget(form.titleEn, {'attr': {'class': 'form-control'}})  }}
        </div>
    </div>
    <div class="col-xs-12 no-padding">
        {{ form_label(form.descriptionEn, 'Description'|trans, {'label_attr': {'class': 'control-label'}}) }}
        <div class="form">
            {{ form_widget(form.descriptionEn, {'attr': {'class': 'form-control'}})  }}
        </div>
    </div>
</div>
<div class="col-xs-6">
    <h3>Serbian</h3>
    <div class="col-xs-12 no-padding">
        {{ form_label(form.titleSr, 'Resource title'|trans, {'label_attr': {'class': 'control-label'}}) }}
        <div class="form">
            {{ form_widget(form.titleSr, {'attr': {'class': 'form-control'}})  }}
        </div>
    </div>
    <div class="col-xs-12 no-padding">
        {{ form_label(form.descriptionSr, 'Description'|trans, {'label_attr': {'class': 'control-label'}}) }}
        <div class="form">
            {{ form_widget(form.descriptionSr, {'attr': {'class': 'form-control'}})  }}
        </div>
    </div>
</div>

<div class="col-xs-12">
    {{ form_label(form.abstract, 'Abstract'|trans, {'label_attr': {'class': 'control-label'}}) }}
    <div class="form">
        {{ form_widget(form.abstract, {'attr': {'class': 'form-control'}})  }}
    </div>
</div>

<div class="col-xs-12">
    {{ form_label(form.authors, 'Authors'|trans, {'label_attr': {'class': 'control-label'}}) }}
    <div class="form">
        {{ form_widget(form.authors, {'attr': {'class': 'form-control'}})  }}
    </div>
</div>