{% extends 'base.html.twig' %}

{% block body %}
    <section id="main">
        {% include 'sub-navbar-ka2-list.html.twig' with {'active': 'deliverables'} %}
        <div class="container-fluid">
            <div class="col-xs-12 section-heading">
                <h2><b>{% trans %}Deliverables/Activities{% endtrans %}</b></h2>
            </div>

            <table class="table table-hover" data-toggle="table">
                <thead>
                    <tr class="table-heleer">
                        <th class="sortable"  data-sortable="true">{% trans %}Id{% endtrans %}</th>
                        <th class="sortable"  data-sortable="true">{% trans %}Project{% endtrans %}</th>
                        <th>{% trans %}Deliverables{% endtrans %}</th>
                        <th>{% trans %}Activities{% endtrans %}</th>
                        <th class="sortable"  data-sortable="true">{% trans %}Created{% endtrans %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in deliverablesActivities %}
                        <tr>
                            <td class="text-center">{{ value.id }}</td>
                            {% if value.project %}
                                <td class="text-center"><a href="{{ localizedPath('project_view', {'projectId': value.project.id}) }}">{{ value.project.name(app.request.getLocale()) }}</a></td>
                            {% else %}
                                <td class="text-center"></td>
                            {% endif %}

                            {% if value.deliverables%}
                                <td class="text-center">{{ value.deliverables | length }}</td>
                            {% else %}
                                <td class="text-center">0</td>
                            {% endif %}

                            {% if value.activities%}
                                <td class="text-center">{{ value.activities | length }}</td>
                            {% else %}
                                <td class="text-center">0</td>
                            {% endif %}

                            <td class="text-center">{{ value.dateCreated | date('d/m/y')}}</td>
                            <td class="text-center"><a href="{{ localizedPath('deliverables_view', {'projectId': value.project.id}) }}">View</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <div>
{% endblock %}