<div class="block" style="clear: both;">
    {{ form_label(form.streetAndNumber, 'Street and number'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
    <div class="form-inline">
        {{ form_widget(form.streetAndNumber, {'attr': {'class': 'form-control'}})  }}
    </div>

    {{ form_label(form.town, 'Town'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
    <div class="form-inline">
        {{ form_widget(form.town, {'attr': {'class': 'form-control'}})  }}
    </div>

    {{ form_label(form.postalCode, 'Postal code'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
    <div class="form-inline">
        {{ form_widget(form.postalCode, {'attr': {'class': 'form-control'}})  }}
    </div>

    {{ form_label(form.country, 'Country'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
    <div class="form-inline">
        {{ form_widget(form.country, {'attr': {'class': 'form-control'}})  }}
    </div>


    {{ form_row(form.differentMailingAddress) }}
</div>