{% extends 'base.html.twig' %}

{% block body %}
<script type="text/javascript" src="{{ asset('/js/action.js')}}"></script>

<section id="main">

    {% include 'sub-navbar.html.twig' with {'active': 'action'} %}

    <div class="container-fluid">
        <div class="page-header">
            <h1>{% trans %}Create action{% endtrans %}</h1>
        </div>

        <div class="row">
            <div class="controls activities">
                {{ form_start(my_form) }}

                <h2>{% trans %}Activity{% endtrans %}</h2>
                <div class="col-sm-12">
                    <div class="form-group">

                        {{ form_label(my_form.activityType, 'Activity type'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                        <div class="form-inline">
                            {{ form_widget(my_form.activityType, {'attr': {'class': 'form-control'}})  }}
                        </div>

                        {{ form_label(my_form.project, 'Project'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                        <div class="form-inline">
                            {{ form_widget(my_form.project, {'attr': {'class': 'form-control'}})  }}
                        </div>

                        <ul class="action-details" data-prototype="{{ include('/action/includes/action-details.html.twig',
                        {'form': my_form.actionDetails.vars.prototype })|e }}">
                        </ul>
                    </div>
                </div>

                {{ form_end(my_form) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
