{% extends 'base.html.twig' %}
{% block body %}
    <section id="main">
        {% if keyAction == 'ka1' %}
            {% include 'sub-navbar-view.html.twig' with {'active': 'action', 'projectId': projectId, 'actionTab': actionTab} %}
        {% endif %}
        <div class="container-fluid">
            <div class="page-header">
                {#<a href="{{ localizedPath('project_mobility_flows_edit', {'projectId':projectId})  }}" class="btn btn-add btn-success "><span aria-hidden="true"></span>Edit</a>#}
                <h2>{% trans %}Activity{% endtrans %}:</h2>
                <h3>{% trans %}Totals{% endtrans %}:</h3>

                {% for activity in activities %}

                    {{ include('action/includes/totals.twig', {'projectAction': projectAction, 'totals': totals}) }}

                    <h2>{% trans %}Action Details{% endtrans %}:</h2>
                    <table class="table table-hover" data-toggle="table">
                        {% if activity %}
                            {% for action in activity.actionDetails %}
                                {% if projectAction == 'ka101' %}
                                    {{ include('action/includes/view-ka101.html.twig', {'action': action }) }}
                                {% elseif projectAction == 'ka102' %}
                                    {{ include('action/includes/view-ka102.html.twig', {'action': action }) }}
                                {% elseif projectAction == 'ka103' %}
                                    {{ include('action/includes/view-ka103.html.twig', {'action': action }) }}
                                {% elseif projectAction == 'ka104' %}
                                    {{ include('action/includes/view-ka104.html.twig', {'action': action }) }}
                                {% elseif projectAction == 'ka105' %}
                                    {{ include('action/includes/view-ka105.html.twig', {'action': action }) }}
                                {% elseif projectAction == 'ka107' %}
                                    {{ include('action/includes/view-ka107.html.twig', {'action': action }) }}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </table>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}