<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <title>{% block title %}{% trans %}Welcome{% endtrans %}!{% endblock %}</title>
        {#<img src="{{ asset('/images/header_traka-f6cd05016fd710db00ec1de10780d25d.jpg') }}">#}


        {% block stylesheets %}
            {% stylesheets '@bootstrap_css' '@calendar_css' %}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
            {% endstylesheets %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('/css/kbs.css') }}"/>
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('/css/style.css') }}"/>

            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
        {% endblock %}


        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <div id="traka"></div>
        <nav class="navbar navbar-default" style="height: 75px">
            <div class="container-fluid">
                <div class="navbar-header col-xs-6">
                    <a class="navbar-brand" href="#">
                        <img alt="Project Database - Erasmus+, Tempus, Erasmus Mundus and Lifelong Learning Programme"
                             src="{{ asset('/images/logo_horizontal_en-470e29804c52b459fae2c00b8ead4843.png') }}">
                    </a>
                </div>
                <div class="col-xs-6 text-right login">
                    <div class="col-xs-9 no-padding">
                        {% include 'main-navbar.html.twig' with {'active': 'reporting'} %}
                    </div>
                    <div class="col-xs-3">
                        <ul>
                            {% if is_granted('ROLE_USER') %}
                                <li><a href="{{ path('security_logout') }}">Logout</a></li>
                            {% else %}
                                <li><a href="{{ path('security_login') }}">Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </head>
    <body class="home project">
    <div class="loader"></div>

    {% block javascripts %}
    {% javascripts '@jquery' '@bootstrap_js' '@calendar_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        } );
    </script>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet" />
    {% endblock %}
        {% block body %}
        {% endblock %}

    </body>
</html>
