<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% if page_title is defined and page_title is not empty %}{{ page_title }} | {% endif %}{% trans %}base.head_title{% endtrans %}</title>
        <link rel="icon" href="{{ asset('favicon.png') }}" sizes="32x32" />
        <link rel="icon" href="{{ asset('favicon.png') }}" sizes="192x192" />
        <link rel="apple-touch-icon-precomposed" href="{{ asset('favicon.png') }}" />
        <meta name="msapplication-TileImage" content="{{ asset('favicon.png') }}" />
        {% include 'js-scripts.html.twig' %}
        {% include 'stylesheets.html.twig' %}
    </head>
    <body>
        <div id="page-wrapper">
            <div id="horizontal-tape"></div>
            <div id="page" class="container">
                {% include 'menu-bar/menu-bar.html.twig' %}
                {% include 'alert.html.twig' %}
                <div id="columns" class="columns clearfix">
                    <main id="content-column" class="content-column" role="main">
                        <div class="content-inner">
                            <div id="main-content">
                                <header>
                                    <h1 id="page-title">{% if page_title is defined and page_title is not empty %}{{ page_title }}{% endif %}</h1>
                                </header>
                                <div id="content" class="region">
                                    <div class="loader"></div>
                                    {% block body %}{% endblock %}
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
                <footer class="container-fluid" id="footer">
                    <div class="row-fluid">
                        <p class="col-md-12">
                            <small>
                                Tempus ©
                                <img alt="" class="logo" src="/images/eu_flag_tempus.png">
                            </small>
                        </p>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>
