<nav id="menu-list" class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="{% if active == 'person' %}active{% endif %}"><a href="{{ localizedPath('person_list')}}">Person</a></li>
            <li class="{% if active == 'institution' %}active{% endif %}"><a href="{{ localizedPath('institution_list')}}">Institution/Organization</a></li>
            <li class="{% if active == 'project' %}active{% endif %}"><a href="{{ localizedPath('project_list')}}">Project</a></li>
            <li class="{% if active == 'action' %}active{% endif %}"><a href="{{ localizedPath('action_list')}}">Action</a></li>
            <li class="{% if active == 'resources' %}active{% endif %}"><a href="{{ localizedPath('resources_list')}}">Resources</a></li>
            <li class="{% if active == 'results' %}active{% endif %}"><a href="{{ localizedPath('results_list')}}">Results</a></li>
        </ul>
    </div>
</nav>