<nav id="menu-list" class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="{% if active == 'project' %}active{% endif %}"><a href="{{ localizedPath('project_ka2_create') }}"  onclick="return false;">Project</a></li>
            <li class="{% if active == 'monitoring' %}active{% endif %}"><a href="{{ localizedPath('monitoring_create') }}"  onclick="return false;">Monitoring/Reporting</a></li>
            <li class="{% if active == 'partners' %}active{% endif %}"><a href="{{ localizedPath('partner_create') }}"  onclick="return false;">Partners</a></li>
            <li class="{% if active == 'resources' %}active{% endif %}"><a href="{{ localizedPath('resources_create') }}"  onclick="return false;">Resources</a></li>
            <li class="{% if active == 'intelectual_outputs' %}active{% endif %}"><a href="{{ localizedPath('intelectual_outputs_create') }}"  onclick="return false;">Intelectual outputs</a></li>
            <li class="{% if active == 'results' %}active{% endif %}"><a href="{{ localizedPath('results_create') }}"  onclick="return false;">Results</a></li>
            <li class="{% if active == 'reporting' %}active{% endif %}"><a href="{{ localizedPath('reporting_create') }}"  onclick="return false;">Reporting</a></li>
            <li class="{% if active == 'attachments' %}active{% endif %}"><a href="{{ localizedPath('attachments_create') }}"  onclick="return false;">Attachments</a></li>
            <li class="{% if active == 'group_calendar' %}active{% endif %}"><a href="{{ localizedPath('group_calendar_create') }}"  onclick="return false;">Group Calendar</a></li>
        </ul>
    </div>
</nav>