<nav id="menu-list" class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="{% if active == 'project' %}active{% endif %}"><a href="{{ localizedPath('project_list') }}" >Project</a></li>
            <li class="{% if active == 'deliverables' %}active{% endif %}"><a href="{{ localizedPath('deliverables_list') }}" >Deliverables/Activities</a></li>
            <li class="{% if active == 'monitoring' %}active{% endif %}"><a href="{{ localizedPath('monitoring_list') }}" >Monitoring/Reporting</a></li>
            <li class="{% if active == 'partners' %}active{% endif %}"><a href="{{ localizedPath('partners_list') }}" >Partners</a></li>
            <li class="{% if active == 'resources' %}active{% endif %}"><a href="{{ localizedPath('resources_list') }}" >Resources</a></li>
            <li class="{% if active == 'intelectual_outputs' %}active{% endif %}"><a href="{{ localizedPath('intelectual_outputs_list') }}" >Intelectual outputs</a></li>
            <li class="{% if active == 'results' %}active{% endif %}"><a href="{{ localizedPath('results_list') }}" >Results</a></li>
            <li class="{% if active == 'reporting' %}active{% endif %}"><a href="{{ localizedPath('reporting_list') }}" >Reporting</a></li>
            <li class="{% if active == 'attachments' %}active{% endif %}"><a href="{{ localizedPath('attachments_list') }}" >Attachments</a></li>
            <li class="{% if active == 'group_calendar' %}active{% endif %}"><a href="{{ localizedPath('group_calendar_list') }}" >Group Calendar</a></li>
        </ul>
    </div>
</nav>