<nav id="menu-list" class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="{% if active == 'project' %}active{% endif %}"><a href="{{ localizedPath('project_ka2_view', {'projectId': projectId}) }}" >Project</a></li>
            <li class="{% if active == 'deliverables' %}active{% endif %}"><a href="{{ localizedPath('deliverables_view', {'projectId': projectId}) }}" >Deliverables/Activities</a></li>
            <li class="{% if active == 'monitoring' %}active{% endif %}"><a href="{{ localizedPath('monitoring_view', {'projectId': projectId}) }}" >Monitoring/Reporting</a></li>
            <li class="{% if active == 'partners' %}active{% endif %}"><a href="{{ localizedPath('partner_view', {'projectId': projectId}) }}" >Partners</a></li>
            <li class="{% if active == 'resources' %}active{% endif %}"><a href="{{ localizedPath('resources_view', {'projectId': projectId}) }}" >Resources</a></li>
            <li class="{% if active == 'intelectual_outputs' %}active{% endif %}"><a href="{{ localizedPath('intelectual_outputs_view', {'projectId': projectId}) }}" >Intelectual outputs</a></li>
            <li class="{% if active == 'results' %}active{% endif %}"><a href="{{ localizedPath('results_view', {'projectId': projectId}) }}" >Results</a></li>
            <li class="{% if active == 'reporting' %}active{% endif %}"><a href="{{ localizedPath('reporting_view', {'projectId': projectId}) }}" >Reporting</a></li>
            <li class="{% if active == 'attachments' %}active{% endif %}"><a href="{{ localizedPath('attachments_view', {'projectId': projectId}) }}" >Attachments</a></li>
            <li class="{% if active == 'group_calendar' %}active{% endif %}"><a href="{{ localizedPath('group_calendar_view', {'projectId': projectId}) }}" >Group Calendar</a></li>
        </ul>
    </div>
</nav>