{% extends 'base.html.twig' %}

{% block body %}
    <section id="main">
        {% include 'main-navbar.html.twig' with {'active': 'resources'} %}
        <div class="container-fluid">
            <a href="{{ localizedPath('resources_create') }}" class="btn btn-add btn-success "><span aria-hidden="true"></span>{% trans %}Add Resource{% endtrans %}</a>
            <h2><b>{% trans %}Resources{% endtrans %}</b></h2>

            <table class="table table-hover" data-toggle="table">
                <thead>
                    <tr class="table-heleer">
                        <th>{% trans %}Resource title{% endtrans %}</th>
                        <th>{% trans %}Type{% endtrans %}</th>
                        <th>{% trans %}Keywords{% endtrans %}</th>
                        <th>{% trans %}Project{% endtrans %}</th>
                        <th>{% trans %}Attachments{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, resource in resources %}
                        {% if resource.isPublic %}
                            <tr>
                                <td><a href="{{ localizedPath('resource_view', {'resourceId': resource.id}) }}">{{ resource.title(app.request.getLocale()) }}</a></td>
                                <td>{{ resource.resourceType.name(app.request.getLocale()) }}</td>
                                <td>{{ resource.keywords }}</td>
                                <td><a href="{{ localizedPath('project_view', {'projectId': resource.project.id}) }}">{{ resource.project.name(app.request.getLocale()) }}</a></td>
                                {# TODO count attachments #}
                                <td class="text-center">0</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <div>
{% endblock %}