{% extends 'base.html.twig' %}

{% block body %}
    <section id="main">
        {% include 'sub-navbar.html.twig' with {'active': 'attachments', 'isCompleted': isCompleted} %}
        <div class="container-fluid">
            <div class="col-xs-12 section-heading">
                <h2><b>{% trans %}Attachments{% endtrans %}</b></h2>
                <a href="{{ localizedPath('attachments_create') }}" class="btn btn-add btn-success pull-right"><span aria-hidden="true"></span>{% trans %}Add attachments{% endtrans %}</a>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <h2>{% trans %}DMS documents{% endtrans %}</h2>

                        <div class="attachments-holder">
                            {% if attachments and attachments.dmsDocuments %}
                                {% for key,value in attachments.dmsDocuments %}
                                    {% if value.file %}
                                        <div class="attachment">
                                            <img src="{{ value.dmsDocuments.file }}" alt="File" />
                                            <p>{{ value.originalName }}</p>
                                        </div>
                                    {% else %}
                                        <p>No files</p>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    {% if attachments %}
                        <div class="col-xs-6">
                            <h2>{% trans %}Notes{% endtrans %}</h2>
                            {{ attachments.dmsNotes ? attachments.dmsNotes : ''}}
                        </div>
                    {% endif %}
                </div>

                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <h2>{% trans %}Manually uploaded files{% endtrans %}</h2>

                        {% if attachments %}
                            <div class="attachments-holder">
                                {% for key,value in attachments.manuallyUploadedFiles %}
                                    {% if value.file %}
                                        <div class="attachment">
                                            {% if value.type == 'pdf' %}
                                                <p>PDF: {{ value.file }} - {{ attachments.dateCreated | date('d-m-Y')  }}</p>
                                            {% elseif value.type == 'word' %}
                                                <p>Word: {{ value.file }} - {{ attachments.dateCreated | date('d-m-Y')  }}</p>
                                            {% elseif value.type == 'excel' %}
                                                <p>Excel: {{ value.file}} - {{ attachments.dateCreated | date('d-m-Y')  }}</p>
                                            {% elseif value.type == 'image' %}
                                                <p>Image: {{ value.file }} - {{ attachments.dateCreated | date('d-m-Y') }}</p>
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <p>No files</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    {% if attachments %}
                        <div class="col-xs-6">
                            <h2>{% trans %}Notes{% endtrans %}</h2>
                            {{ attachments.uploadedFilesNotes ? attachments.uploadedFilesNotes : '' }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    <div>
{% endblock %}