{% extends 'base.html.twig' %}

{% block body %}
    <section id="main">
    {% include 'sub-navbar.html.twig' with {'active': 'intelectual-outputs'} %}
    <div class="container-fluid">
        <a href="{{ localizedPath('intelectual_output_edit', {'id': intelectualOutput.id}) }}" class="btn btn-add btn-success "><span aria-hidden="true"></span>{% trans %}Edit{% endtrans %}</a>
        <h2><b>{% trans %}Intelectual outputs{% endtrans %}</b></h2>

        <table class="table table-hover" data-toggle="table">
            <thead>
            <tr class="table-heleer">
                <th>{% trans %}Title{% endtrans %}</th>
                <th>{% trans %}Type{% endtrans %}</th>
                <th>{% trans %}Project{% endtrans %}</th>
                <th>{% trans %}Due date{% endtrans %}</th>
                <th>{% trans %}Status{% endtrans %}</th>
                <th>{% trans %}Public{% endtrans %}</th>
                <th>{% trans %}Available on E+Link{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ intelectualOutput.title(app.request.getLocale()) }}</td>

                    {% if intelectualOutput.type %}
                        <td>{{ intelectualOutput.type.name(app.request.getLocale()) }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}

                    <td><a href="{{ localizedPath('project_view', {'projectId': intelectualOutput.project.id}) }}">{{ intelectualOutput.project.name(app.request.getLocale()) }}</a></td>

                    <td>{{ intelectualOutput.dueDate | date('d/m/y')}}</td>

                    {% if intelectualOutput.status %}
                        <td>{{ intelectualOutput.status.name(app.request.getLocale()) }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}

                    {% if intelectualOutput.isPublic %}
                        <td class="text-center">{% trans %}Yes{% endtrans %}</td>
                    {% else %}
                        <td class="text-center">{% trans %}No{% endtrans %}</td>
                    {% endif %}

                    {% if intelectualOutput.eLinkAvailable %}
                        <td class="text-center">{% trans %}Yes{% endtrans %}</td>
                    {% else %}
                        <td class="text-center">{% trans %}No{% endtrans %}</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>

        <div class="col-xs-12 no-padding">
            <h2>Description</h2>
            <p>{{ intelectualOutput.description(app.request.getLocale()) }}</p>
        </div>

        <div class="col-xs-12 no-padding">
            <h2>Notes</h2>
            {# TODO list filest #}
            <p>{{ intelectualOutput.notes }}</p>
        </div>
    </div>
    <div>
{% endblock %}