<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-3">
            {{ form_label(form.monitoringType, 'Monitoring type'|trans, {'label_attr': {'class': 'control-label'}}) }}
            <div class="form">
                {{ form_widget(form.monitoringType, {'attr': {'class': 'form-control'}})  }}
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-3">
            {{ form_label(form.monitoringDate, 'Monitoring date'|trans, {'label_attr': {'class': 'control-label'}}) }}
            <div class="form">
                {{ form_widget(form.monitoringDate)  }}
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="col-xs-3">
            {{ form_label(form.commentType, 'Comment type'|trans, {'label_attr': {'class': 'control-label'}}) }}
            <div class="form">
                {{ form_widget(form.commentType, {'attr': {'class': 'form-control'}})  }}
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        {{ form_label(form.comment, 'Comment'|trans, {'label_attr': {'class': 'control-label'}}) }}
        <div class="form">
            {{ form_widget(form.comment, {'attr': {'class': 'form-control'}})  }}
        </div>
    </div>
</div>