<div class="block" style="clear: both;">
    {{ form_row(form.streetAndNumber) }}
    {{ form_row(form.town) }}
    {{ form_row(form.country) }}
    {{ form_row(form.postalCode) }}
    {{ form_row(form.differentMailingAddress) }}
</div>