{% extends 'base.html.twig' %}

{% block body %}
    <section id="main">
    <script type="text/javascript" src="{{ asset('/js/calendar.js')}}" ></script>
        {% if keyAction == 'ka1' %}
            {% include 'sub-navbar.html.twig' with {'active': 'group_calendar', 'isCompleted': isCompleted, projectId: projectId} %}
        {% endif %}
        {%  if keyAction == 'ka2' %}
            {% include 'sub-navbar-ka2.html.twig' with {'active': 'group_calendar', 'isCompleted': isCompleted, projectId: projectId} %}
        {% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="controls calendar">
                {% if not isCompleted %}
                    <a href="{{ localizedPath('attachment_edit', {projectId: projectId}) }}"><button>Back</button></a>
                {% endif %}
                <div class="col-xs-12">
                    {{ form_start(my_form) }}
                    <div class="col-xs-6">
                        <h2>{% trans %}Events{% endtrans %}</h2>

                        <div class="event-holder">
                            <div class="col-xs-8">
                                {{ form_row(my_form.eventType) }}
                            </div>
                            <div class="col-xs-4">
                                {{ form_row(my_form.eventDate) }}
                            </div>
                            <div class="col-xs-12">
                                {{ form_row(my_form.eventDescription) }}
                            </div>


                            <div class="col-xs-12">
                                <ul class="event-reminder" data-purpose="edit" data-prototype="{{ include('/group-calendar/includes/event-reminder.html.twig',
                                {'my_form': my_form.eventReminder.vars.prototype })|e }}">
                                    {% for oneReminder in my_form.eventReminder %}
                                        <li>{{ include('/group-calendar/includes/event-reminder.html.twig', {'my_form': oneReminder }) }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div id="calendar"></div>
                    </div>
                    {{ form_end(my_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}