{% extends 'base.html.twig' %}

{% block body %}
    <section id="main">
        {% include 'sub-navbar.html.twig' with {'active': 'group_calendar' } %}
        <div class="container-fluid">
            <div class="col-xs-12 section-heading">
                <h2><b>{% trans %}Group Calendar{% endtrans %}</b></h2>
                <a href="{{ localizedPath('group_calendar_create') }}" class="btn btn-add btn-success pull-right"><span aria-hidden="true"></span>{% trans %}Add Events{% endtrans %}</a>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <h2>{% trans %}Events{% endtrans %}</h2>
                            <div class="event-holder">
                                <script>
                                    var events = [];
                                </script>
                                {% if calendar and calendar.event %}
                                    {% for event in calendar.event %}
                                        <script>
                                            var desc = {{ event.eventDescription | json_encode()|raw }};
                                            var date = {{ event.dateCreated | json_encode()|raw }};
                                            var color = {{ event.eventType ? event.eventType.color | json_encode()|raw : 'blue'|json_encode|raw }};

                                            var event = {
                                                title  : desc,
                                                start  : date.date,
                                                color: color
                                            };

                                            events.push(event);
                                        </script>
                                        <div class="col-xs-4">
                                            <p>{{ event.dateCreated | date('d-m-Y')}}</p>
                                        </div>
                                        <div class="col-xs-8">
                                            <p>{% trans %}Event description{% endtrans %}: {{ event.eventDescription }} </p>
                                        </div>

                                        <div class="col-xs-12"><h3>{% trans %}Remind{% endtrans %}</h3></div>
                                        {% for reminder in event.eventReminder %}
                                            {#<div class="col-xs-3">#}
                                                {#{{ reminder.remindType ? reminder.remindType.name(app.request.locale) : '' }}#}
                                            {#</div>#}
                                            <div class="col-xs-8">
                                                {{ reminder.daysAhead }} - {% trans %}Days ahead{% endtrans %}
                                            </div>
                                            <div class="col-xs-4">
                                                {% trans %}Edit{% endtrans %} | {% trans %}Remove{% endtrans %}
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                {% else %}
                                    <p>No events</p>
                                {% endif %}
                            </div>
                    </div>
                    <div class="col-xs-6">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>

    <script>
        $(function () {
            $('#calendar').fullCalendar({
                events: events
            });
        });
    </script>
    <div>
{% endblock %}