{% extends 'base.html.twig' %}

{% block body %}
    <section id="main">
    {#{% include 'sub-navbar.html.twig' with {'active': 'group_calendar', 'isCompleted': isCompleted} %}#}
    <div class="container-fluid">
        <div class="col-xs-12 section-heading">
            <h2><b>{% trans %}Group Calendar{% endtrans %}</b></h2>
            <a href="{{ localizedPath('group_calendar_create') }}" class="btn btn-add btn-success pull-right"><span aria-hidden="true"></span>{% trans %}Add Events{% endtrans %}</a>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <h2>{% trans %}Events{% endtrans %}</h2>

                    <script>
                        var events = [];
                    </script>

                    {% if events %}

                        {% for key, value in events %}

                            <div class="event-holder">
                                <script>
                                    var desc = {{ value.eventDescription | json_encode()|raw }};
                                    var date = {{ value.eventDate | json_encode()|raw }};
                                    var color = {{ value.eventType ? value.eventType.color | json_encode()|raw : 'blue'|json_encode|raw }};

                                    console.log(desc, date, color);

                                    var event = {
                                        title  : desc,
                                        start  : date.date,
                                        color: color
                                    };

                                    events.push(event);
                                </script>
                                <div class="col-xs-4">
                                    <p><b>{{ value.eventDate | date('d-m-Y')}}</b></p>
                                </div>
                                <div class="col-xs-8">
                                    <p><b>{% trans %}Event description{% endtrans %}</b>: {{ value.eventDescription }} </p>
                                </div>

                                <div class="col-xs-12"><h3>{% trans %}Remind{% endtrans %}</h3></div>
                                {% for reminder in value.eventReminder %}
                                    {#<div class="col-xs-3">#}
                                    {#{{ reminder.remindType ? reminder.remindType.name(app.request.locale) : '' }}#}
                                    {#</div>#}
                                    <div class="col-xs-8">
                                        {{ reminder.daysAhead }} - {% trans %}Days ahead{% endtrans %}
                                    </div>
                                    <div class="col-xs-4">
                                        <a href="{{ localizedPath('group_calendar_edit', {'projectId': value.project.id}) }}">{% trans %}Edit{% endtrans %}</a> | {% trans %}Remove{% endtrans %}
                                    </div>
                                {% endfor %}
                            </div>

                        {% endfor %}
                    {% else %}
                        <p>No events</p>
                    {% endif %}

                </div>
                <div class="col-xs-6">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {

            $('#calendar').fullCalendar({
                events: events
            });
        });
    </script>
{% endblock %}