
<table class="table">
    <tr>
        <td>
            {{ form_label(form.person) }}
            {{ form_widget(form.person, {'attr': {
                'class': 'selectpicker',
                'data-live-search': 'true',
                'title': 'Choose one of the following...'
            }}) }}
        </td>
        <td>
            {{ form_label(form.institution) }}
            {{ form_widget(form.institution, {'attr': {
                'class': 'selectpicker',
                'data-live-search': 'true',
                'title': 'Choose one of the following...'
            }}) }}
        </td>
        <td>
            {{ form_label(form.originCountry) }}
            {{ form_widget(form.originCountry, {'attr': {
                'class': 'selectpicker',
                'data-live-search': 'true',
                'title': 'Choose one of the following...'
            }}) }}
        </td>
        <td>
            {{ form_label(form.destinationCountry) }}
            {{ form_widget(form.destinationCountry, {'attr': {
                'class': 'selectpicker',
                'data-live-search': 'true',
                'title': 'Choose one of the following...'
            }}) }}
        </td>
        <td>{{ form_row(form.distance) }}</td>
    </tr>
    <tr>
        <td class="days_without_travel" onchange="addDays.call(this, event)">{{ form_row(form.daysWithoutTravel) }}</td>
        <td class="days_travel" onchange="addDays.call(this, event)">{{ form_row(form.travelDays) }}</td>
        <td class="days_total">{{ form_row(form.totalDays) }}</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>{{ form_row(form.hasSpecialNeeds) }}</td>
        <td>{{ form_row(form.hasFewerOptions) }}</td>
        <td>{{ form_row(form.isAccompanyingPerson) }}</td>
        <td>{{ form_row(form.nonTeachingStuff) }}</td>
        <td></td>
    </tr>
</table>

<div class="hidden">
    {{ form_row(form.incomingOutgoing, { 'attr': {'class': 'hidden-row', 'reqired': 'false'} }) }}
    {{ form_row(form.trainingShip, { 'attr': {'class': 'hidden-row', 'reqired': 'false'} }) }}
    {{ form_row(form.startDate, { 'attr': {'class': 'hidden-row', 'reqired': 'false'} }) }}
    {{ form_row(form.endDate, { 'attr': {'class': 'hidden-row', 'reqired': 'false'} }) }}
    {{ form_row(form.durationMonths, { 'attr': {'class': 'hidden-row', 'reqired': 'false'} }) }}
    {{ form_row(form.durationExtraDays, { 'attr': {'class': 'hidden-row', 'reqired': 'false'} }) }}
    {{ form_row(form.apprentice, { 'attr': {'class': 'hidden-row', 'reqired': 'false'} }) }}
    {{ form_row(form.student, { 'attr': {'class': 'hidden-row', 'reqired': 'false'} }) }}
    {{ form_row(form.groupLeader, { 'attr': {'class': 'hidden-row', 'reqired': 'false'} }) }}
    {{ form_row(form.venue, { 'attr': {'class': 'hidden-row', 'reqired': 'false'} }) }}
</div>