
<table class="table table-striped">
    <tr>
        <td>
            {{ form_label(form.person) }}
            {{ form_widget(form.person, {'attr': {
                'class': 'selectpicker',
                'data-live-search': 'true',
                'title': 'Choose one of the following...'
            }}) }}
        </td>
        <td>{{ form_row(form.student) }}</td>
        <td>{{ form_row(form.trainingShip) }}</td>
        <td>
            {{ form_label(form.institution) }}
            {{ form_widget(form.institution, {'attr': {
                'class': 'selectpicker',
                'data-live-search': 'true',
                'title': 'Choose one of the following...'
            }}) }}
        </td>
        <td>
            {{ form_label(form.originCountry) }}
            {{ form_widget(form.originCountry, {'attr': {
                'class': 'selectpicker',
                'data-live-search': 'true',
                'title': 'Choose one of the following...'
            }}) }}
        </td>
        <td>
            {{ form_label(form.destinationCountry) }}
            {{ form_widget(form.destinationCountry, {'attr': {
                'class': 'selectpicker',
                'data-live-search': 'true',
                'title': 'Choose one of the following...'
            }}) }}
        </td>
        <td>{{ form_row(form.distance) }}</td>
    </tr>
    <tr>
        <td>{{ form_row(form.venue) }}</td>
        <td>{{ form_row(form.durationMonths) }}</td>
        <td>{{ form_row(form.durationExtraDays) }}</td>
        <td colspan="2">{{ form_row(form.daysWithoutTravel) }}</td>
        <td>{{ form_row(form.travelDays) }}</td>
        <td>{{ form_row(form.totalDays) }}</td>
    </tr>
    <tr>
        <td>{{ form_row(form.hasSpecialNeeds) }}</td>
        <td>{{ form_row(form.hasFewerOptions) }}</td>
        <td>{{ form_row(form.isAccompanyingPerson) }}</td>
        <td>{{ form_row(form.apprentice) }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

<div class="hidden">
    {{ form_row(form.incomingOutgoing, { 'attr': {'class': 'hidden-row'} }) }}
    {{ form_row(form.trainingShip, { 'attr': {'class': 'hidden-row'} }) }}
    {{ form_row(form.startDate, { 'attr': {'class': 'hidden-row'} }) }}
    {{ form_row(form.endDate, { 'attr': {'class': 'hidden-row'} }) }}
    {{ form_row(form.nonTeachingStuff, { 'attr': {'class': 'hidden-row'} }) }}
    {{ form_row(form.student, { 'attr': {'class': 'hidden-row'} }) }}
    {{ form_row(form.groupLeader, { 'attr': {'class': 'hidden-row'} }) }}
</div>