<div class="block" style="clear: both;">
    {{ form_row(form.person) }}
    {{ form_row(form.institution) }}
    {{ form_row(form.originCountry) }}
    {{ form_row(form.destinationCountry) }}
    {{ form_row(form.city) }}
    {{ form_row(form.distance) }}
    {{ form_row(form.startDate) }}
    {{ form_row(form.endDate) }}
    {{ form_row(form.daysWithoutTravel) }}
    {{ form_row(form.travelDays) }}
    {{ form_row(form.totalDays) }}
    {{ form_row(form.hasSpecialNeeds) }}
    {{ form_row(form.hasFewerOptions) }}
    {{ form_row(form.isAccompanyingPerson) }}
    {{ form_row(form.isLongTerm) }}
</div>