<div class="col-xs-12">
    <div class="col-xs-6">
        <h2>{% trans %}DMS documents{% endtrans %}</h2>

        <div class="attachments-holder">
            <p>Synchronize documents</p>
        </div>
    </div>
    <div class="col-xs-6">
        <h2>{% trans %}Notes{% endtrans %}</h2>
        {{ form_label(my_form.dmsNotes, 'Notes'|trans, {'label_attr': {'class': 'control-label'}}) }}
        <div class="form">
            {{ form_widget(my_form.dmsNotes, {'attr': {'class': 'form-control'}})  }}
        </div>
    </div>
</div>

<div class="col-xs-12">
    <div class="col-xs-6">
        <h2>{% trans %}Manually uploaded files{% endtrans %}</h2>

        <div class="attachments-holder">
            {% for element in my_form.manuallyUploadedFiles %}
                <li style="margin-bottom: 1rem;">
                    <b>{% trans %}Uploaded{% endtrans %}</b>: {{ element.file [37:] }}
                </li>
            {% endfor %}
            <ul class="manually-uploaded-files" data-purpose="{{ purpose }}" data-prototype="{{ form_widget(my_form.manuallyUploadedFiles.vars.prototype)|e }}">
                {% for element in my_form.manuallyUploadedFiles %}
                    <li>
                        {{ form_row(element.file) }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-xs-6">
        <h2>{% trans %}Notes{% endtrans %}</h2>
        {{ form_label(my_form.uploadedFilesNotes, 'Notes'|trans, {'label_attr': {'class': 'control-label'}}) }}
        <div class="form">
            {{ form_widget(my_form.uploadedFilesNotes, {'attr': {'class': 'form-control'}})  }}
        </div>
    </div>
</div>