<div class="row">

    <div class="col-xs-5">
        <h3>English</h3>
        <div class="col-xs-12 no-padding">
            {{ form_label(form.titleEn, 'Title'|trans, {'label_attr': {'class': 'control-label'}}) }}
            <div class="form">
                {{ form_widget(form.titleEn, {'attr': {'class': 'form-control'}})  }}
            </div>
        </div>
        <div class="col-xs-12 no-padding">
            {{ form_label(form.descEn, 'Description'|trans, {'label_attr': {'class': 'control-label'}}) }}
            <div class="form">
                {{ form_widget(form.descEn, {'attr': {'class': 'form-control'}})  }}
            </div>
        </div>
    </div>
    <div class="col-xs-5">
        <h3>Serbian</h3>
        <div class="col-xs-12 no-padding">
            {{ form_label(form.titleSr, 'Title'|trans, {'label_attr': {'class': 'control-label'}}) }}
            <div class="form">
                {{ form_widget(form.titleSr, {'attr': {'class': 'form-control'}})  }}
            </div>
        </div>
        <div class="col-xs-12 no-padding">
            {{ form_label(form.descSr, 'Description'|trans, {'label_attr': {'class': 'control-label'}}) }}
            <div class="form">
                {{ form_widget(form.descSr, {'attr': {'class': 'form-control'}})  }}
            </div>
        </div>
    </div>

    <div class="col-xs-2">
        {{ form_label(form.activityFrom, 'From'|trans, {'label_attr': {'class': 'control-label'}}) }}
        <div class="form">
            {{ form_widget(form.activityFrom, {'attr': {'class': 'form-control'}})  }}
        </div>

        {{ form_label(form.activityTo, 'To'|trans, {'label_attr': {'class': 'control-label'}}) }}
        <div class="form">
            {{ form_widget(form.activityTo, {'attr': {'class': 'form-control'}})  }}
        </div>

        {{ form_label(form.activityType, 'Type'|trans, {'label_attr': {'class': 'control-label'}}) }}
        <div class="form">
            {{ form_widget(form.activityType, {'attr': {'class': 'form-control'}})  }}
        </div>

        {{ form_label(form.activityStatus, 'Status'|trans, {'label_attr': {'class': 'control-label'}}) }}
        <div class="form">
            {{ form_widget(form.activityStatus, {'attr': {'class': 'form-control'}})  }}
        </div>
    </div>
</div>