<div class="row">
    <div class="col-xs-9">
        <div class="col-xs-3">
            {{ form_label(form.type, 'Monitoring type'|trans, {'label_attr': {'class': 'control-label'}}) }}
            <div class="form">
                {{ form_widget(form.type, {'attr': {'class': 'form-control'}})  }}
            </div>
        </div>
        <div class="col-xs-3">
            {{ form_label(form.reportingDate, 'Monitoring visit on'|trans, {'label_attr': {'class': 'control-label'}}) }}
            <div class="form">
                {{ form_widget(form.reportingDate) }}
            </div>
        </div>

        {% for key, qa in questions %}
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <p>{{ qa.questions(app.request.getLocale()) }}</p>
                </div>
                <div class="col-xs-6">
                    <div class="form">
                        <textarea id="appbundle_project_questionsAndAnswers_{{ key }}_answerEn" name="appbundle_project[questionsAndAnswers][{{ key }}][answerEn]" required="required" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="col-xs-12">
            {{ form_label(form.commentsAndSuggestions, 'Comments and suggestions'|trans, {'label_attr': {'class': 'control-label'}}) }}
            <div class="form">
                {{ form_widget(form.commentsAndSuggestions, {'attr': {'class': 'form-control'}})  }}
            </div>
        </div>
    </div>

    <div class="col-xs-3">
        <ul class="reporting-by" data-prototype="{{include('/reporting/includes/reporting-by.html.twig',
        {'form': form.reportingBy.vars.prototype })|e}}">
        </ul>
    </div>
</div>