{% extends 'base.html.twig' %}
{% block body %}
    <script type="text/javascript" src="{{ asset('/js/projectApplicantOrganisations.js')}}" ></script>
    <script type="text/javascript" src="{{ asset('/js/projecPartnerOrganisations.js')}}" ></script>
    <script type="text/javascript" src="{{ asset('/js/projecLimitations.js')}}" ></script>
    <script type="text/javascript" src="{{ asset('/js/projecContactPersons.js')}}" ></script>
    <script type="text/javascript" src="{{ asset('/js/projecTopics.js')}}" ></script>
    <script type="text/javascript" src="{{ asset('/js/projecSubjectAreas.js')}}" ></script>
    <script type="text/javascript" src="{{ asset('/js/projecNotes.js')}}" ></script>

    <section id="main">
        {% include 'sub-navbar.html.twig' with {'active': 'project', 'isCompleted': isCompleted} %}
        <div class="container-fluid">
            <div class="page-header">
                <h1>{% trans %}Add Project Details{% endtrans %}</h1>
            </div>

            <div class="col-xs-2"><b>{% trans %}Programme{% endtrans %}</b>: {{ project.programmes.name(app.request.locale) }}</div>
            <div class="col-xs-2"><b>{% trans %}Key Action{% endtrans %}</b>: {{ project.keyActions.name(app.request.locale) }}</div>
            <div class="col-xs-2"><b>{% trans %}Action{% endtrans %}</b>: {{ project.actions.name(app.request.locale) }}</div>
            <div class="col-xs-2"><b>{% trans %}Call{% endtrans %}</b>: {{ project.calls.name(app.request.locale) }}</div>
            <div class="col-xs-2"><b>{% trans %}Round{% endtrans %}</b>: {{ project.rounds.name(app.request.locale)}}</div>

            <div class="col-xs-12 controls">
                {{ form_start(my_form) }}

                    {# GENERAL INFORMATION #}
                    <div class="general-info">

                        <h2>General information</h2>

                        <div>
                            {{ form_label(my_form.nameEn, 'English'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                            <div class="form-inline">
                                {{ form_widget(my_form.nameEn, {'attr': {'class': 'form-control'}})  }}
                            </div>
                        </div>
                        <div>
                            {{ form_label(my_form.nameSr, 'Serbian'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                            <div class="form-inline">
                                {{ form_widget(my_form.nameSr, {'attr': {'class': 'form-control'}})  }}
                            </div>
                        </div>
                        <div>
                            {{ form_label(my_form.nameOriginalLetter, 'Original letter'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                            <div class="form-inline">
                                {{ form_widget(my_form.nameOriginalLetter, {'attr': {'class': 'form-control'}})  }}
                            </div>
                        </div>
                        <div>
                            {{ form_label(my_form.acronym, 'Acronym'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                            <div class="form-inline">
                                {{ form_widget(my_form.acronym, {'attr': {'class': 'form-control'}})  }}
                            </div>
                        </div>
                        <div>
                            {{ form_label(my_form.startDatetime, 'Start date'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                            <div class="form-inline">
                                {{ form_widget(my_form.startDatetime)  }}
                            </div>
                        </div>
                        <div>
                            {{ form_label(my_form.endDatetime, 'End date'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                            <div class="form-inline">
                                {{ form_widget(my_form.endDatetime)  }}
                            </div>
                        </div>
                        <div>
                            {{ form_label(my_form.projectNumber, 'Project nr.'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                            <div class="form-inline">
                                {{ form_widget(my_form.projectNumber, {'attr': {'class': 'form-control'}})  }}
                            </div>
                        </div>
                        <div>
                            {{ form_label(my_form.durationMonths, 'Duration in months'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                            <div class="form-inline">
                                {{ form_widget(my_form.durationMonths, {'attr': {'class': 'form-control'}})  }}
                            </div>
                        </div>
                        <div>
                            {{ form_label(my_form.audited, 'Audited'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                            <div class="form-inline">
                                {{ form_widget(my_form.audited, {'attr': {'class': 'form-control'}})  }}
                            </div>
                        </div>
                        <div>
                            {{ form_label(my_form.onGoing, 'On-going'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                            <div class="form-inline">
                                {{ form_widget(my_form.onGoing, {'attr': {'class': 'form-control'}})  }}
                            </div>
                        </div>
                        <ul class="applicantOrganisations" data-prototype="{{ include('/project/includes/applicantOrganisations.html.twig',
                        {'form': my_form.applicantOrganisations.vars.prototype })|e }}">
                        </ul>
                        <div>
                            {{ form_label(my_form.participantFewerOptions, 'Participan with fewer options'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                            <div class="form-inline">
                                {{ form_widget(my_form.participantFewerOptions, {'attr': {'class': 'form-control'}})  }}
                            </div>
                        </div>
                        <div>
                            {{ form_label(my_form.consortium, 'Consortium?'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                            <div class="form-inline">
                                {{ form_widget(my_form.consortium, {'attr': {'class': 'form-control'}})  }}
                            </div>
                        </div>
                        <ul class="partnerOrganisations" data-prototype="{{ include('/project/includes/partnerOrganisations.html.twig',
                        {'form': my_form.partnerOrganisations.vars.prototype})|e }}">
                        </ul>
                        <ul class="limitations" data-prototype="{{ include('/project/includes/limitations.html.twig',
                        {'form': my_form.limitations.vars.prototype })|e }}">
                        </ul>
                        <ul class="contactPersons" data-prototype="{{ include('/project/includes/contactPersons.html.twig',
                        {'form': my_form.contactPersons.vars.prototype })|e }}">
                        </ul>
                        <ul class="topics" data-prototype="{{ include('/project/includes/topics.html.twig',
                        {'form': my_form.topics.vars.prototype })|e }}">
                        </ul>
                        <ul class="subjectAreas" data-prototype="{{ include('/project/includes/subjectAreas.html.twig',
                        {'form': my_form.subjectAreas.vars.prototype })|e }}">
                        </ul>
                        <ul class="notes" data-prototype="{{ include('/project/includes/notes.html.twig',
                        {'form': my_form.notes.vars.prototype })|e }}">
                        </ul>
                        <div>
                            {{ form_label(my_form.projectSummary, 'Project Summary'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                            <div class="form-inline">
                                {{ form_widget(my_form.projectSummary, {'attr': {'class': 'form-control'}})  }}
                            </div>
                        </div>
                    </div>

                {{ form_end(my_form) }}
            </div>
        </div>
    </section>
{% endblock %}
