{% extends 'base.html.twig' %}

{% block body %}
    <section id="main">
        <div class="container-fluid">

            <table class="table table-hover" data-toggle="table">
                <thead>
                <tr class="table-header">
                    <th class="sortable" data-field="project_title" data-sortable="true">Project title</th>
                    <th class="sortable">Reference number</th>
                    <th class="sortable">Application year</th>
                    <th>Programe</th>
                    <th>Partners</th>
                </tr>
                </thead>

                <tbody>
                {% for key,value in result %}
                    <tr>
                        <td> <a href="/project/{{ value.id }}"> {{ value.name }} </a> </td>
                        <td> {{ value.referenceNumber }} </td>
                        <td> {{ value.applicationYear }} </td>
                        <td> {{ value.programId }} </td>
                        <td> Partners-test </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>


            <a href="{{ path('project_create') }}">Add Project</a>
            <a href="{{ path('person_create') }}">Add Person</a>
            <a href="{{ path('person_contacts_create_form', {'personId': 1}) }}">Add Person Contact</a>

        </div>
    <div>
{% endblock %}