{% extends 'base.html.twig' %}

{% block body %}
    <section id="main">
        <div class="container-fluid">

            <table class="table table-hover" data-toggle="table">
                <thead>
                <tr class="table-header">
                    <th class="sortable" data-field="project_id" data-sortable="true">{% trans %}Nr.{% endtrans %}</th>
                    <th class="sortable">{% trans %}Name{% endtrans %}</th>
                    <th class="sortable">{% trans %}Acronym{% endtrans %}</th>
                    <th>{% trans %}Project number{% endtrans %}</th>
                    <th>{% trans %}Programme{% endtrans %}</th>
                    <th>{% trans %}Key Action{% endtrans %}</th>
                    <th>{% trans %}Action{% endtrans %}</th>
                    <th>{% trans %}Call{% endtrans %}</th>
                    <th>{% trans %}Round{% endtrans %}</th>
                    <th>{% trans %}On-going{% endtrans %}</th>
                    <th>{% trans %}View{% endtrans %}</th>
                    <th>{% trans %}Edit{% endtrans %}</th>
                </tr>
                </thead>

                <tbody>
                {% for key,value in result %}
                    <tr>
                        <td> {{ value.id }} </td>
                        <td> {{ value.nameEng }} </td>
                        <td> {{ value.acronym }} </td>
                        <td> {{ value.projectNumber }} </td>
                        <td> {{ value.programmes ? value.programmes.nameEn }} </td>
                        <td> {{ value.keyActions ? value.keyActions.nameEn }} </td>
                        <td> {{ value.actions ? value.actions.nameEn }} </td>
                        <td> {{ value.calls ? value.calls.nameEn }} </td>
                        <td> {{ value.rounds ? value.rounds.nameEn }} </td>
                        <td> {{ value.onGoing ? 'Yes' : 'No' }} </td>
                        <td> <a href="{{ localizedPath('project_view', {'projectId':value.id }) }}"> View </a> </td>
                        <td> <a href="{{ localizedPath('project_edit', {'projectId':value.id }) }}"> Edit </a> </td>

                    </tr>
                {% endfor %}
                </tbody>

            </table>

        </div>
    <div>
{% endblock %}