{% extends 'base.html.twig' %}

{% block body %}
    <section id="main">

        <div class="container-fluid">
            <div class="col-xs-12 section-heading">
                <h2><b>{% trans %}Projects{% endtrans %}</b></h2>
                {% if app.user %}
                    <a href="{{ localizedPath('project_create_start') }}" class="btn btn-add btn-success pull-right"><span aria-hidden="true"></span>{% trans %}Add Project{% endtrans %}</a>
                {% endif %}
            </div>
            <table class="table table-hover" data-toggle="table">
                <thead>
                <tr class="table-header">
                    <th class="sortable" data-field="project_id" data-sortable="true">{% trans %}Nr.{% endtrans %}</th>
                    <th class="sortable">{% trans %}Name{% endtrans %}</th>
                    <th class="sortable">{% trans %}Acronym{% endtrans %}</th>
                    <th>{% trans %}Project number{% endtrans %}</th>
                    <th>{% trans %}Programme{% endtrans %}</th>
                    <th>{% trans %}Key Action{% endtrans %}</th>
                    <th>{% trans %}Action{% endtrans %}</th>
                    <th>{% trans %}Call{% endtrans %}</th>
                    <th>{% trans %}Round{% endtrans %}</th>
                    <th>{% trans %}On-going{% endtrans %}</th>
                    {% if app.user %}
                        <!--<th>{% trans %}View{% endtrans %}</th>-->
                        <th>{% trans %}Edit{% endtrans %}</th>
                    {% endif %}
                </tr>
                </thead>

                <tbody>
                {% for key,value in result %}
                    <tr>
                        <td> {{ value.id }} </td>
                        <td> {{ value.nameEn }} </td>
                        <td> {{ value.acronym }} </td>
                        <td> {{ value.projectNumber }} </td>
                        <td> {{ value.programmes ? value.programmes.name(app.request.locale) }} </td>
                        <td> {{ value.keyActions ? value.keyActions.name(app.request.locale) }} </td>
                        <td> {{ value.actions ? value.actions.name(app.request.locale) }} </td>
                        <td> {{ value.calls ? value.calls.name(app.request.locale) }} </td>
                        <td> {{ value.rounds ? value.rounds.name(app.request.locale) }} </td>
                        <td> {{ value.onGoing ? 'Yes' : 'No' }} </td>
                        {% if app.user %}
                            {% if value.keyActions.name(app.request.locale) == 'ka1' %}
                                <!--<td> <a href="{{ localizedPath('project_view', {'projectId':value.id }) }}"> View </a> </td>-->
                                <td> <a href="{{ localizedPath('project_edit', {'projectId':value.id }) }}"> Edit </a> </td>
                            {% endif %}
                            {% if value.keyActions.name(app.request.locale) == 'ka2' %}
                                <!--<td> <a href="{{ localizedPath('project_ka2_view', {'projectId':value.id }) }}"> View </a> </td>-->
                                <td> <a href="{{ localizedPath('project_ka2_edit', {'projectId':value.id }) }}"> Edit </a> </td>
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>

            </table>

        </div>
    <div>
{% endblock %}