{% extends 'base.html.twig' %}

{% block body %}
    <section id="main">
        <div class="container-fluid">

            <table class="table table-hover" data-toggle="table">
                <thead>
                <tr class="table-header">
                    <th class="sortable" data-field="project_title" data-sortable="true">{% trans %}Project title{% endtrans %}</th>
                    <th class="sortable">{% trans %}Reference number{% endtrans %}</th>
                    <th class="sortable">{% trans %}Application year{% endtrans %}</th>
                    <th>{% trans %}Programe{% endtrans %}</th>
                    <th>{% trans %}Partners{% endtrans %}</th>
                </tr>
                </thead>

                <tbody>
                {% for key,value in result %}
                    <tr>
                        <td> <a href="{{ localizedPath('project_view', {'projectId':value.id }) }}"> {{ value.nameEng }} </a> </td>
                        <td> {{ value.referenceNumber }} </td>
                        <td> {{ value.applicationYear }} </td>
                        <td> {{ value.program.name }} </td>
                        <td> Partners-test </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>

            <a href="{{ localizedPath('project_create') }}">{% trans %}Add Project{% endtrans %}</a>
            <a href="{{ localizedPath('person_create') }}">{% trans %}Add Person{% endtrans %}</a>
            <a href="{{ localizedPath('institution_create') }}">{% trans %}Add Institution{% endtrans %}</a>
        </div>
    <div>
{% endblock %}