{% extends 'base.html.twig' %}
{% block body %}

    <section id="main">
        {% include 'main-navbar.html.twig' with {'active': 'project'} %}
        <div class="container-fluid">
            <div class="page-header">
                <h1>{% trans %}Add Project{% endtrans %}</h1>
            </div>

            <div class="controls">
                {{ form_start(my_form) }}
                    <div>
                        {{ form_label(my_form.programmes, 'Programme'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                        <div class="form-inline">
                            {{ form_widget(my_form.programmes, {'attr': {'class': 'form-control'}})  }}
                        </div>
                    </div>
                    <div>
                        {{ form_label(my_form.keyActions, 'Key Action'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                        <div class="form-inline">
                            {{ form_widget(my_form.keyActions, {'attr': {'class': 'form-control'}})  }}
                        </div>
                    </div>
                    <div>
                        {{ form_label(my_form.actions, 'Action'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                        <div class="form-inline">
                            {{ form_widget(my_form.actions, {'attr': {'class': 'form-control'}})  }}
                        </div>
                    </div>
                    <div>
                        {{ form_label(my_form.calls, 'Call'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                        <div class="form-inline">
                            {{ form_widget(my_form.calls, {'attr': {'class': 'form-control'}})  }}
                        </div>
                    </div>
                    <div>
                        {{ form_label(my_form.rounds, 'Round'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                        <div class="form-inline">
                            {{ form_widget(my_form.rounds, {'attr': {'class': 'form-control'}})  }}
                        </div>
                    </div>

                {{ form_end(my_form) }}
            </div>
        </div>
    </section>
{% endblock %}
