{% extends 'base.html.twig' %}
{% block body %}
    <script>
        $(document).ready(function () {
            $("#appbundle_project_keyActions").change(function(){

                var $appbundle_project_actions = $('#appbundle_project_actions');

                var keyActionId = $(this).val();
                if(keyActionId) {

                    var url = '{{ localizedPath("project_actions_list", {'keyActionId': '1234'}) }}';
                    url = url.replace("1234", keyActionId);

                    $.ajax({
                        type: 'get',
                        url: url,
                        success: function (data) {
                            $appbundle_project_actions.empty();
                            $appbundle_project_actions.html('<option>--</option>');
                            for (var i = 0, total = data.length; i < total; i++) {
                                $appbundle_project_actions.append('<option value="' + data[i].id + '">' + data[i].name_en + '</option>');
                            }
                        }
                    });
                }
                else {
                    $appbundle_project_actions.empty();
                    $appbundle_project_actions.html('<option>--</option>');
                }
            })
        });
    </script>

    <section id="main">
        <div class="container-fluid">
            <div class="page-header">
                <h1>{% trans %}Add Project{% endtrans %}</h1>
            </div>

            <div class="controls">
                {{ form_start(my_form) }}
                    <div>
                        {{ form_label(my_form.programmes, 'Programme'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                        <div class="form-inline">
                            {{ form_widget(my_form.programmes, {'attr': {'class': 'form-control'}})  }}
                        </div>
                    </div>
                    <div>
                        {{ form_label(my_form.keyActions, 'Key Action'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                        <div class="form-inline">
                            {{ form_widget(my_form.keyActions, {'attr': {'class': 'form-control'}})  }}
                        </div>
                    </div>
                    <div>
                        {{ form_label(my_form.actions, 'Action'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                        <div class="form-inline">
                            {{ form_widget(my_form.actions, {'attr': {'class': 'form-control'}})  }}
                        </div>
                    </div>
                    <div>
                        {{ form_label(my_form.calls, 'Call'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                        <div class="form-inline">
                            {{ form_widget(my_form.calls, {'attr': {'class': 'form-control'}})  }}
                        </div>
                    </div>
                    <div>
                        {{ form_label(my_form.rounds, 'Round'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                        <div class="form-inline">
                            {{ form_widget(my_form.rounds, {'attr': {'class': 'form-control'}})  }}
                        </div>
                    </div>

                {{ form_end(my_form) }}
            </div>
        </div>
    </section>


{% endblock %}