{% extends 'base.html.twig' %}

{% block body %}
<section id="main">
    <div class="container-fluid">
        <div class="page-header">
            <h1>{% trans %}Project{% endtrans %}: <b>{{ project.name(app.request.getLocale()) }}</b></h1>
            <h3>{% trans %}Original letter{% endtrans %}: {{ project.nameOriginalLetter }}</h3>
        </div>

        <a href="{{ localizedPath('project_edit', {'projectId':project.id }) }}" class="btn btn-warning pull-right" role="button">{% trans %}Edit{% endtrans %}</a>
        <table class="table project" id="general_info">
            <thead>
                <tr>
                    <th class="acronym">{% trans %}Acronym{% endtrans %}</th>
                    <th class="application_year">{% trans %}Application year{% endtrans %}</th>
                    <th class="tempus_grant">{% trans %}Grant{% endtrans %}</th>
                    <th class="reference_number">{% trans %}Reference number{% endtrans %}</th>
                    <th class="duration">{% trans %}Duration{% endtrans %}</th>
                    <th class="scope">{% trans %}Scope{% endtrans %}</th>
                    <th class="status">{% trans %}Project Status{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="acronym">{{ project.acronym }}</td>
                    <td class="application_year">{{ project.applicationYear|date('Y-m-d') }}</td>
                    <td class="tempus_grant">{{ project.grantAmount }}</td>
                    <td class="reference_number">{{ project.referenceNumber }}</td>
                    <td class="duration">{{ project.duration }}</td>
                    <td class="scope">{{ project.scope }}</td>
                    <td class="status">{{ project.status }}</td>
                </tr>
            </tbody>

            <thead>
                <tr>
                    <th class="eligibility">{% trans %}Eligibility period start{% endtrans %}</th>
                    <th class="eligibility">{% trans %}Eligibility period end{% endtrans %}</th>
                    <th class="extended_until">{% trans %}Extended until{% endtrans %}</th>
                    <th class="website" colspan="2">{% trans %}Website{% endtrans %}</th>
                    <th class="fb_link" colspan="2">{% trans %}Facebook{% endtrans %}</th>
                </tr>
            </thead>


            <tbody>
                <tr>
                    <td class="eligibility">{{ project.startDatetime|date('Y-m-d') }}</td>
                    <td class="eligibility">{{ project.endDatetime|date('Y-m-d') }}</td>
                    <td class="extended_until">{{ project.extendedTime|date('Y-m-d') }}</td>
                    <td class="website" colspan="2">Website</td>
                    <td class="fb_link" colspan="2">Facebook</td>
                </tr>
            </tbody>



        {#{{ project.nameOriginalLetter }} <br/>#}
        {#{{ project.coFinancingAmount }} <br/>#}
        {#{{ project.totalProjectValue }} <br/>#}
        {#{{ project.mark }} <br/>#}
        {#{{ project.markExplanation }} <br/>#}
        {#used programmeId should be programme#}
        </table>

        <h2 id="summary">{% trans %}Project Summary{% endtrans %}</h2>
        <div class="summary">{{ project.description }}</div>

        <h2 id="objectives">{% trans %}Objectives{% endtrans %}</h2>
        <div>{{ project.goals }}</div>

        <h2 class="programme">{% trans %}Programme{% endtrans %}</h2>
        <dl>
            <dt>{% trans %}Programme{% endtrans %}</dt>
            <dd>{{ project.program.name }} </dd>
        </dl>
    </div>
</section>


{% endblock %}