<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>View project x</title>
</head>
<body>

{{ result.name }} <br/>
{{ result.description }} <br/>
{{ result.goals }} <br/>
{{ result.nameOriginalLetter }} <br/>
{{ result.acronym }} <br/>
{{ result.programId }} <br/>
{{ result.status }} <br/>
{{ result.scope }} <br/>
{{ result.applicationYear|date('Y-m-d') }} <br/>
{{ result.referenceNumber }} <br/>
{{ result.duration }} <br/>
{{ result.endDatetime|date('Y-m-d') }} <br/>
{{ result.startDatetime|date('Y-m-d') }} <br/>
{{ result.extendedTime|date('Y-m-d') }} <br/>
{{ result.grantAmount }} <br/>
{{ result.coFinancingAmount }} <br/>
{{ result.totalProjectValue }} <br/>
{{ result.mark }} <br/>
{{ result.markExplanation }} <br/>
</body>
</html>
