{% extends 'base.html.twig' %}

{% block body %}
<section id="main">
    <div class="container-fluid">
        <div class="page-header">
            <h1>Project: <b>{{ project.nameEng }}</b></h1>
            <h3>Original letter: {{ project.nameOriginalLetter }}</h3>
        </div>

        <a href="/project/edit/{{ project.id }}" class="btn btn-warning pull-right" role="button">Edit</a>
        <table class="table project" id="general_info">
            <thead>
                <tr>
                    <th class="acronym">Acronym</th>
                    <th class="application_year">Application year</th>
                    <th class="tempus_grant">Grant</th>
                    <th class="reference_number">Reference number</th>
                    <th class="duration">Duration</th>
                    <th class="scope">Scope</th>
                    <th class="status">Project Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="acronym">{{ project.acronym }}</td>
                    <td class="application_year">{{ project.applicationYear|date('Y-m-d') }}</td>
                    <td class="tempus_grant">{{ project.grantAmount }}</td>
                    <td class="reference_number">{{ project.referenceNumber }}</td>
                    <td class="duration">{{ project.duration }}</td>
                    <td class="scope">{{ project.scope }}</td>
                    <td class="status">{{ project.status }}</td>
                </tr>
            </tbody>

            <thead>
                <tr>
                    <th class="eligibility">Eligibility period start</th>
                    <th class="eligibility">Eligibility period end</th>
                    <th class="extended_until">Extended until</th>
                    <th class="website" colspan="2">Website</th>
                    <th class="fb_link" colspan="2">Facebook</th>
                </tr>
            </thead>


            <tbody>
                <tr>
                    <td class="eligibility">{{ project.startDatetime|date('Y-m-d') }}</td>
                    <td class="eligibility">{{ project.endDatetime|date('Y-m-d') }}</td>
                    <td class="extended_until">{{ project.extendedTime|date('Y-m-d') }}</td>
                    <td class="website" colspan="2">Website</td>
                    <td class="fb_link" colspan="2">Facebook</td>
                </tr>
            </tbody>



        {#{{ project.nameOriginalLetter }} <br/>#}
        {#{{ project.coFinancingAmount }} <br/>#}
        {#{{ project.totalProjectValue }} <br/>#}
        {#{{ project.mark }} <br/>#}
        {#{{ project.markExplanation }} <br/>#}
        {#used programmeId should be programme#}
        </table>

        <h2 id="summary">Project Summary</h2>
        <div class="summary">{{ project.description }}</div>

        <h2 id="objectives">Objectives</h2>
        <div>{{ project.goals }}</div>

        <h2 class="programme">Programme</h2>
        <dl>
            <dt>Programme</dt>
            <dd>{{ project.program.name }} </dd>
        </dl>
    </div>
</section>


{% endblock %}