{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript" src="{{ asset('/js/reporting.js')}}"></script>
    <section id="main">
    {% if keyAction == 'ka1' %}
        {% include 'sub-navbar.html.twig' with {'active': 'reporting', 'actionTab': actionTab} %}
    {% endif %}
    {%  if keyAction == 'ka2' %}
        {% include 'sub-navbar-ka2.html.twig' with {'active': 'reporting'} %}
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="controls reporting">
                <a href="{{ localizedPath('result_edit', {projectId: projectId}) }}"><button>Back</button></a>
                <div class="col-xs-12">
                    {{ form_start(my_form) }}
                        <div class="col-xs-12">
                            <h2>{% trans %}Add Reporting{% endtrans %}</h2>
                        </div>

                        <ul class="reporting" data-purpose="create" data-prototype="{{include('/reporting/includes/reporting.html.twig',
                        {'form': my_form.reporting.vars.prototype })|e}}">
                        </ul>
                    {{ form_end(my_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}