{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript" src="{{ asset('/js/reporting.js')}}"></script>
    <section id="main">
        {% if keyAction == 'ka1' %}
            {% include 'sub-navbar.html.twig' with {'active': 'reporting', 'actionTab': actionTab, 'isCompleted': isCompleted} %}
        {% endif %}
        {%  if keyAction == 'ka2' %}
            {% include 'sub-navbar-ka2.html.twig' with {'active': 'reporting'} %}
        {% endif %}
        <div class="container-fluid">
            <div class="row">
                <div class="controls reporting">
                    <a href="{{ localizedPath('result_edit', {projectId: projectId}) }}"><button type="button" class="btn btn-info">Back</button></a>
                    <div class="general-info">
                        {% for report in projectReporting %}
                            {% if report.reportingType.id == 2 %}
                                Report type - <a href="{{ localizedPath('reporting_edit_type_one', {'reportId': report.id, 'projectId': projectId}) }}" > {{ report.reportingType.nameSr }} </a><br/><br/>
                            {% endif %}
                            {% if report.reportingType.id == 3 %}
                                Report type - <a href="{{ localizedPath('reporting_edit_type_two', {'reportId': report.id, 'projectId': projectId}) }}" > {{ report.reportingType.nameSr }} </a><br/><br/>
                            {% endif %}
                            {% if report.reportingType.id == 4 %}
                                Report type - <a href="{{ localizedPath('reporting_edit_type_three', {'reportId': report.id, 'projectId': projectId}) }}" > {{ report.reportingType.nameSr }} </a><br/><br/>
                            {% endif %}
                            {% if report.reportingType.id == 5 %}
                                Report type - <a href="{{ localizedPath('reporting_edit_type_four', {'reportId': report.id, 'projectId': projectId}) }}" > {{ report.reportingType.nameSr }} </a><br/><br/>
                            {% endif %}
                            {% if report.reportingType.id == 6 %}
                                Report type - <a href="{{ localizedPath('reporting_edit_type_five', {'reportId': report.id, 'projectId': projectId}) }}" > {{ report.reportingType.nameSr }} </a><br/><br/>
                            {% endif %}
                        {% endfor %}
                        {{ form_start(my_form) }}
                        <div>
                            {{ form_label(my_form.type, 'Tip Reporta'|trans, {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                            <div class="form-inline">
                                {{ form_widget(my_form.type, {'attr': {'class': 'form-control'}})  }}
                            </div>
                        </div>
                        {{ form_end(my_form) }}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}