{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript" src="{{ asset('/js/equipment.js')}}"></script>
    <section id="main">

    {%  if keyAction == 'ka2' %}
        {% include 'sub-navbar-ka2.html.twig' with {'active': 'equipment'} %}
    {% endif %}


    <div class="container-fluid">
        <div class="row">
            <div class="controls equipment">
                <a href="{{ localizedPath('reporting_edit', {projectId: projectId}) }}"><button type="button" class="btn btn-info">Back</button></a>
                <div class="col-xs-12">
                    {{ form_start(my_form) }}
                        <div class="col-xs-12">
                            <h2>{% trans %}Add Equipment{% endtrans %}</h2>
                        </div>

                        <ul class="equipment" data-purpose="create" data-prototype="{{include('equipment/includes/equipment-details.html.twig',
                        {'my_form': my_form.equipment.vars.prototype })|e}}">
                            {% for one in my_form.equipment %}
                                <li>{{ include('/equipment/includes/equipment-details.html.twig', {'my_form': one }) }}</li>
                            {% endfor %}
                        </ul>

                        <div class="col-xs-12">
                            {{ form_end(my_form) }}
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}