
<div class="col-xs-12">
    <div class="form-inline">
        {{ form_label(my_form.isAssociatedPartner, 'Associated partner?'|trans, {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(my_form.isAssociatedPartner, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-inline">
        {{ form_label(my_form.institution, 'Institution/Organization'|trans, {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(my_form.institution, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-inline">
        {{ form_label(my_form.partnerType, 'Partner type'|trans, {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(my_form.partnerType, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-inline">
        {{ form_label(my_form.projectCoordinator, 'Project coordinator'|trans, {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(my_form.projectCoordinator, {'attr': {'class': 'form-control'}}) }}
    </div>


    <div class="form-inline">
        {{ form_label(my_form.legalRepresentative, 'Legal representative'|trans, {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(my_form.legalRepresentative, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-inline">
        {{ form_label(my_form.budget, 'Budget'|trans, {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(my_form.budget, {'attr': {'class': 'form-control'}})  }}
    </div>
</div>

<div class="col-xs-12">
    {{ form_label(my_form.teamMembers, 'Team members'|trans, {'label_attr': {'class': 'control-label'}}) }}
    <ul class="team-members" data-prototype="{{ include('/partners/includes/team-members.html.twig',
    {'form': my_form.teamMembers.vars.prototype })|e }}">
    </ul>
</div>

<div class="col-xs-12">

    {{ form_label(my_form.allDepartments, 'All departments?'|trans, {'label_attr': {'class': 'control-label'}}) }}
    <div class="form-inline">
        {{ form_widget(my_form.allDepartments, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-inline">
        {{ form_widget(my_form.teamDepartments, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
