
<div class="col-xs-12">
    <div class="form-inline">
        {{ form_label(my_form.isAssociatedPartner, 'Associated partner?'|trans, {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(my_form.isAssociatedPartner, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-inline">
        {{ form_label(my_form.institution, 'Institution/Organization'|trans, {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(my_form.institution, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-inline">
        {{ form_label(my_form.partnerType, 'Partner type'|trans, {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(my_form.partnerType, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-inline">
        {{ form_label(my_form.projectCoordinator, 'Project coordinator'|trans, {'label_attr': {'class': 'control-label'}}) }}
        {{ form_errors(my_form.projectCoordinator) }}
        {{ form_widget(my_form.projectCoordinator, { 'attr': {'data-live-search': 'true', 'class': 'selectpicker'} }) }}
    </div>


    <div class="form-inline">
        {{ form_label(my_form.legalRepresentative, 'Legal representative'|trans, {'label_attr': {'class': 'control-label'}}) }}
        {{ form_errors(my_form.legalRepresentative) }}
        {{ form_widget(my_form.legalRepresentative, { 'attr': {'data-live-search': 'true', 'class': 'selectpicker'} }) }}
    </div>

    <div class="form-inline">
        {{ form_label(my_form.budget, 'Budget'|trans, {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(my_form.budget, {'attr': {'class': 'form-control'}})  }}
    </div>
</div>

<div class="form-inline">
    {{ form_label(my_form.withoutTeam, 'Without Team'|trans, {'label_attr': {'class': 'control-label'}}) }}
    {{ form_widget(my_form.withoutTeam, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="col-xs-12">
    {{ form_label(my_form.teamMembers, 'Team members'|trans, {'label_attr': {'class': 'control-label'}}) }}
    <ul class="team-members" data-prototype="{{ include('/partners/includes/team-members.html.twig',
    {'my_form': my_form.teamMembers.vars.prototype })|e }}">
        {% for teamMember in my_form.teamMembers %}
            <li>{{ include('/partners/includes/team-members.html.twig', {'my_form': teamMember }) }}</li>
        {% endfor %}
    </ul>
</div>

<div class="col-xs-12">

    {{ form_label(my_form.allDepartments, 'All departments?'|trans, {'label_attr': {'class': 'control-label'}}) }}
    <div class="form-inline">
        {{ form_widget(my_form.allDepartments, {'attr': {'class': 'form-control'}}) }}
    </div>
    <span>Departments</span>
    <div>
        {% for entity in my_form.teamDepartments %}
            {{ form_widget(entity, {'attr': {'class': 'form-control', 'checked': 'checked'}}) }}
        {% endfor %}
    </div>


</div>
