<div class="block" style="clear: both;">

    <div class="form-inline">
        {{ form_label(my_form.memberPosition, 'Member position'|trans, {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(my_form.memberPosition, {'attr': {'class': 'form-control'}})  }}
    </div>

    <div class="form-inline">
        {{ form_label(my_form.member, 'Team member'|trans, {'label_attr': {'class': 'control-label'}}) }}
        {{ form_errors(my_form.member) }}
        {{ form_widget(my_form.member, { 'attr': {'data-live-search': 'true', 'class': 'selectpicker'} }) }}
    </div>

    <div class="form-inline">
        {{ form_label(my_form.budget, 'Budget'|trans, {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(my_form.budget, {'attr': {'class': 'form-control'}})  }}
    </div>
</div>